<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/foundation/css/normalize.css' />
        <link rel='stylesheet' href='/foundation/css/foundation.css' />
    </head>
    <body ng-controller="AppController as store">
        <ul class="no-bullet">
            <li ng-repeat="product in store.products | orderBy: '-price'" ng-hide="product.soldOut">
                <div class="row">
                    <h1 class="left">{{product.name | uppercase}}</h1>
                    <h2 class="right">{{product.price | currency}}</h2>
                </div>

                <div class="row">
                    <ul>
                        <li class="th" ng-repeat="image in product.images">
                            <img ng-src="{{image.thumb}}" />
                        </li>
                    </ul>
                </div>

                <div class="row" ng-controller="TabController as tab">
                    <ul class="tabs" data-tab>
                        <li class="tab-title" ng-class="{ active:tab.isSet(1)}" ng-click="tab.setTab(1)"><a href>Description</a></li>
                        <li class="tab-title" ng-class="{ active:tab.isSet(2)}" ng-click="tab.setTab(2)"><a href>Specifications</a></li>
                        <li class="tab-title" ng-class="{ active:tab.isSet(3)}" ng-click="tab.setTab(3)"><a href>Reviews</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div ng-show="tab.isSet(1)">
                            <h4>Description</h4>
                            <blockquote>{{product.description}}</blockquote>
                        </div>
                        <div ng-show="tab.isSet(2)">
                            <h4>Specification</h4>
                            <blockquote>Amet animi asperiores at aut debitis deserunt dolore dolores earum exercitationem harum labore quas ratione sapiente tempore unde ut vel, voluptas voluptatum?</blockquote>
                        </div>
                        <div ng-show="tab.isSet(3)">
                            <h4>Reviews</h4>
                            <blockquote>Commodi earum explicabo hic id, inventore ipsum molestias neque nobis, quaerat quas quasi sed sint sit tempora tempore veritatis voluptates voluptatum? Recusandae.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="row"><button class="column" ng-show="product.canPurchase"> Add to Cart </button></div>

            </li>
        </ul>
        <script src="/angular/angular.min.js"></script>
        <script src="/js/modules/app.js"></script>
    </body>
</html>
